<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <form action="https://api.web3forms.com/submit" method="POST">

          <!-- Replace with your Access Key -->
          <input type="hidden" name="access_key" value="{{ site.web3form_key }}">

          <!-- Form Inputs. Each input must have a name="" attribute -->
          <input type="text" name="name" required>
          <input type="email" name="email" required>
          <textarea name="message" required></textarea>

          <!-- Honeypot Spam Protection -->
          <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

          <!-- Custom Confirmation / Success Page -->
          <!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->

          <button type="submit">Submit Form</button>

        </form>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.contact.title | markdownify | default: Contact Us }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.contact.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="https://api.web3forms.com/submit" method="POST">

          <!-- Replace with your Access Key -->
          <input type="hidden" name="access_key" value="{{ site.web3form_key }}">

          <!-- Form Inputs. Each input must have a name="" attribute -->
          <input type="text" name="name" required>
          <input type="email" name="email" required>
          <textarea name="message" required></textarea>

          <!-- Honeypot Spam Protection -->
          <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

          <!-- Custom Confirmation / Success Page -->
          <!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->

          <button type="submit">Submit Form</button>

        </form>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Contact -->