// Color Variables
$white: #fff;
$black: #000;
$primary-color: darksalmon;
$secondary-color: #1f1f40;
$extra-color: darken($primary-color, 10%);
$border-color: #e5e5e5;
$black-light: #848485;
$yello: #ffc429;
$blue: lightblue;
$heading-font: 'Cormorant Garamond', sans-serif;
$body-font: 'Cormorant Garamond', sans-serif;